.banner {
  position: relative;
  overflow: hidden;
}
.banner:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #678d9169;
  position: absolute;
  z-index: 1;
}
.banner-text {
  z-index: 1;
}
